

     h1{
        background-color: map-get($colors, dark);
        color: white;
        padding: 1%;
    
    }


    ion-title{

        
    }

ul{ list-style: none}

li{ 
    
    font-size:20px; display: inline; margin: 4%; padding: 1% ;background-color:  map-get($colors, primary);border-radius: 20px;
    
    &:hover{
        color: white;
        border-radius: 0px;
        
    }

    }

    ion-content{

        background-color: lightgreen;
    }

